[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.9.0"
django = "*"
django-rest-framework = "*"
iterapi = "*"

[requires]
python_version = "3.8"
